body{
    margin: 0px;
}

.maindiv{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: whitesmoke;
    /* position: relative; */
    position: fixed;
    box-shadow: 0.1px 0.1px 7px black;
    
}
.img{
  
    width:120px;
     height:90px;
     position: relative;
     left: 100px;
    }
.div1{
    width: 40%;
height: 90px;

align-items: center;
}
.div2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
     height: 90px;
      bottom: 40px;
      align-items: center;
}
.div3{
    /* position: relative;
    bottom: 350px;
    left: 60px; */
    color: rgb(21, 19, 19);
    /* bottom: -150px; */
}
button{
    background-color: rgb(199, 197, 197);
    width: 170px;
    height: 50px;
}
.textdiv{
    font-size: x-large;
    text-align: center;
}
.imagediv{
    width: 100%;
    height: 400px;
    background-image: url(images/logo3.webp);
}
.text{
    width: 400px;
    height: 430px;
    text-align: center;
    background-color: whitesmoke;
    /* transform: scale(1.1,1.1);
    transition: 4s; */
}
/* .text:hover{
    transform: perspective( 2.5,2.5);
    transition: 2s;
} */
.thardmaindiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bgcolour{
    background-color: rgb(227, 226, 226);
    height: 540px;
}
.heading{
    text-align: center;
}
.smalldiv{
    box-sizing: border-box;
    /* padding: 30px; */
    width: 350px;
    height: 240px;
  background-color: rgb(239, 239, 240);
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.backcolour{
    background-color: rgb(253, 249, 249);
}
.maindiv1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 700px;
}
.firstdiv{
    width: 550px;
    height: 700px;
    /* padding: 20px; */
}
.seconddiv{
    width: 50%;
    height: 700px;
    /* padding: 30px; */
}
.div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.imagedivv{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.imagediv2{
    width: 50%;
    height: 400px;
}
.imagediv3{
    box-sizing: border-box;
    width: 50%;
    height: 400px;
    /* padding: 40px; */
    background-color: rgb(248, 243, 243);
}
.bggray:hover{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    
        /* transform: scale(1.15,1.15);
        transition: 3s; */
           
    background-color: rgb(210, 208, 208);
}
.texdiv{
    text-align: center;
}
.lastdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    background-color: rgb(244, 242, 242);
    
}
.padding{
    width: 250px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
   
}
.footer{
    width: 100%;
    height: 130px;
    background-color: rgb(40, 39, 39);

}
#head{
    color: rgb(235, 238, 241);
   padding: 50px;
}
.pera{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.classname:hover{
    transform: scale(1.15,1.15);
    transition: 3s;
        }
        .clasdiv{
            border-radius: 50px;
        }
       